[python]
transformers
datasets
numpy==1.21.2
pandas==1.3.3
matplotlib==3.4.3
seaborn==0.11.2
scipy==1.7.1
scikit-learn==0.24.2
statsmodels==0.12.2
beautifulsoup4==4.10.0
nltk==3.6.2
spacy==3.1.3
plotly==5.3.1
bokeh==2.4.0
dash==2.0.0
scrapy==2.5.0
geopandas==0.9.0
torch==2.0

[r]
cowplot

[node]
chalk==2.0