# Ignore the .replit configuration file
.replit

# Ignore the .env file if you're using one to store sensitive information
.env

# Ignore Python virtual environment directories
venv/
__pycache__/

# Ignore Nix directories
nix/

# Ignore the replit.nix configuration file
replit.nix

# Ignore any logs
*.log

# Ignore all .DS_Store files
.DS_Store

# Ignore dist directory
dist/

# Ignore misc directory
misc/

.vscode/

# Ignore litellm_uuid.txt
litellm_uuid.txt